@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome! Thank you for choosing our task manager.</h1>
    <p id="Info">Click view tasks list to continue.</p>
    <body id="home"></body>
</div>
